.pokemon-card {
    background-color: #D1D8FD;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(221, 47, 47, 0.1);
    padding: 16px;
    width: 220px;
    text-align: center;
    margin: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(166, 177, 120, 0.2);
  }
  
  .pokemon-name {
    margin-bottom: 8px;
    font-size: 20px;
    color: #333;
  }
  
  .pokemon-image {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    border: 1px solid #333;
    background-color:#FFEED3;
    margin: 0 auto;
    display: block;
  }
  
  .pokemon-stats {
    margin-top: 10px;
    list-style: none;
    padding: 0;
  }
  
  .pokemon-stats li {
    margin-bottom: 4px;
    font-size: 14px;
  }
  